.loadingContainer {
    position: relative;
    height: auto;
    width: auto;
    margin: 0px auto;
    font-style: italic;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 5px 3px #d90368;
    vertical-align: middle;
}


.L-letter {
    display: flex;
    color:#820263;
    font-weight: bold;
    font-size: 8rem;
    animation-name: letterA;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    
}
.O-letter {
    display: flex;
    color:red;
    font-weight: bold;
    font-size: 8rem;
    animation-name: letterB;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}
.A-letter {
    display: flex;
    color:red;
    font-weight: bold;
    font-size: 8rem;
    animation-name: letterA;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}
.D-letter {
    display: flex;
    color:red;
    font-weight: bold;
    font-size: 8rem; 
    animation-name: letterB;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}
.I-letter {
    display: flex;
    color:red;
    font-weight: bold;
    font-size: 8rem; 
    animation-name: letterA;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}
.N-letter {
    display: flex;
    color:red;
    font-weight: bold;
    font-size: 8rem;
    animation-name: letterB;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}
.G-letter {
    display: flex;
    color:red;
    font-weight: bold;
    font-size: 8rem;
    animation-name: letterA;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}
.first-point {
    color:red;
    font-size: 8rem;  
    animation-name: first-point;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}
.second-point {
    color:red;
    font-size: 8rem;
    animation-name: second-point;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-direction: alternate;
}
.thrid-point {
    color:red;
    font-size: 8rem;
    animation-name: thrid-point;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-direction: alternate;
}

@keyframes first-point {
    from{
        transform: translate(0px,0px);
        color: #d90368
    }
    to{
        color: #2E294E;
        transform: translate(0px,-20px);
        text-shadow: 1px 1px 1px #FFD400;
    }

}
@keyframes second-point {
    from{
        transform: translate(0px,0px);
        color: #d90368
    }
    to{
        color: #2E294E;
        transform: translate(0px,-20px);
        text-shadow: 1px 1px 1px #FFD400;
    }

}
@keyframes thrid-point {
    from{
        transform: translate(0px,0px);
        color: #d90368
        
    }
    to{
        color: #2E294E;
        transform: translate(0px,-20px);
        text-shadow: 1px 1px 1px #FFD400;
    }

}

@keyframes letterA {
    from{
        color: #2E294E;
    }
    to{
        color: #d90368
    }
}

@keyframes letterB {
    from{
        color: #d90368;
    }
    to{
        color: #2E294E
    }
}