.msj {
    position: absolute;
    display: inline-block;
    background-color: red;
    color: #eadeda;
    padding: 15px;
    height: auto;
    width: auto;
    top: 60px;
    right: 60px;
    border-radius: 6px;
    text-align: center;
    margin: 0px auto;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;

    
}