.pokemonsContainer {
    position: relative;
    display: flex;
    margin: 100px auto 0px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 1300px;
    gap: 20px;
}

.seeAllAgain {
    position: absolute;
    padding: 10px 15px;
    top: 40vh;
    border: none;
    background-color:#820263;
    border-radius: 3px;
    color: #eadeda;
    font-weight: bold;
    box-shadow: 2px 3px 80px 1px #d90368; 
}